---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Latex Copy&Paste.">
	<main class=" flex justify-center text-white  py-24 sm:py-32 pb-12 sm:pb-12 main">
		<div class="fixed top-10 left-10 w-16"> <img src="/favicon.svg" alt=""> </div>
		<div>
			<div class="flex items-center justify-center">
				<span class="text-primary text-2xl  drop-shadow  sm:text-5xl flex ml-4 items-center justify-center">Latex Copy&Paste</h1>
		</div>
		<div class="text-center text-current-500/90 mt-6 text-lg leading-8 drop-shadow">
			Help you copy LaTeX from webpage and paste to anywhere
		</div>
		<div class="mt-10 flex items-center flex-col justify-center gap-x-6 gap-2">
			<a href="https://chromewebstore.google.com/detail/latex-copy-paste/ifccgcphojiocdnpibgdolmbhnjccaoh" target="_blank" class="flex p-2 ring-1 ring-inset items-center text-xl gap-4 drop-shadow rounded-md bg-zinc-500/10 px-3.5 py-2.5 font-semibold text-current-500/90 shadow-sm hover:bg-zinc-500/20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600">
				<img class="w-6 h-6" src="/chrome-store.svg">Install from Chrome Web Store
			</a>
			<div class="text-current-500/90 text-xs" data-relingo-block="true">Free / No account needed / Multi-language support</div>
		</div>
		<div class="mt-16 flow-root">
			<div class="mx-auto max-w-2xl text-center">
				<h1 class="text-xl font-bold tracking-tight drop-shadow text-primary sm:text-2xl flex gap-2 items-center justify-center" data-relingo-block="true">
					Summaries and Bullet Points
				</h1>
			</div>
			<div class="rounded-xl" data-relingo-block="true">
				<img alt="App screenshot" loading="lazy" width="3248" height="2112" decoding="async" data-nimg="1" style="color:transparent" srcset="/_next/image?url=%2Fscreenshot.png&amp;w=3840&amp;q=75 1x" src="/_next/image?url=%2Fscreenshot.png&amp;w=3840&amp;q=75" data-relingo-block="true">
			</div>
			<div class="my-10 flex items-center flex-col justify-center gap-x-6 gap-2">
				<a href="https://chromewebstore.google.com/detail/latex-copy-paste/ifccgcphojiocdnpibgdolmbhnjccaoh" target="_blank" class="flex p-2 ring-1 ring-inset items-center text-xl gap-4 drop-shadow rounded-md bg-zinc-500/10 px-3.5 py-2.5 font-semibold text-current-500/90 shadow-sm hover:bg-zinc-500/20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600">
					<img class="w-6 h-6" src="/chrome-store.svg">Install from Chrome Web Store
				</a>
			</div>
		</div>
	</main>
	</div>
</Layout>

<style>
	main {
		height: 100vh;
		overflow-y: scroll;
	}
</style>