---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="ffG2d2P_P2JFaISX4wCxUmQeDnzMsoGav8YT7DG6Crc" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		width: 100vw;
		height: 100vh;
	}
	body {
    background-color: #4d7c0f;
    background-image: 
		radial-gradient(closest-side, #a3e635, rgba(235, 105, 78, 0)), 
		radial-gradient(closest-side, #4ade80, rgba(254, 234, 131, 0)), 
		radial-gradient(closest-side, #fde047, rgba(243, 11, 164, 0)), 
		radial-gradient(closest-side, #166534, rgba(170, 142, 245, 0));
    background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
    background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    background-repeat: no-repeat;
		animation: 15s moiveAnimation infinite;
		text-align: center;
	}

	@keyframes moiveAnimation {
            0%,
            100% {
                background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
                background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
            }
            25% {
                background-size: 120vw 120vh, 130vw 150vh, 130vw 120vh, 100vw 110vh;
                background-position: -30vw -30vh, 40vw -10vh, 0vw 10vh, -10vw 20vh;
            }
            50% {
                background-size: 130vw 130vh, 140vw 100vh, 100vw 150vh, 90vw 110vh;
                background-position: 10vw -60vh, 20vw 10vh, 10vw 30vh, 10vw -20vh;
            }
            75% {
                background-size: 140vw 140vh, 100vw 130vh, 100vw 150vh, 130vw 110vh;
                background-position: -70vw -70vh, 0vw -10vh, 30vw -20vh, 20vw 30vh;
            }
        }
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
